<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Constructora WCH</title>
        <meta charset="UTF-8"/> 
    </head>
    <body>

        <section th:fragment="Metodos" class="bg-white">
            <h2 class="text-center mt-5" style="font-size: 36px"><b>Cómo contratar nuestros servicios</b></h2>
            <h4 class="text-center" style="font-size: 20px">Conoce nuestras opciones de pago</h4>
            <div class="d-flex justify-content-center mt-2">
                <div class="d-flex justify-content-center mt-5">
                <div class="text-center mt-5, card col-md6, p-5" style="width: 20rem; background-color: #e0f3f9 ; justify-content: center; align-items: center">
                    <img src="https://firebasestorage.googleapis.com/v0/b/wch-constructora.appspot.com/o/Imágenes%2Ftransferencia.png?alt=media&token=056f71bc-6a99-4da2-add2-66282005d719" 
                         class="card-img-top " alt="Transferencia" style="width: 6rem; align-items: center" >
                        <div class="card-body">
                            <h5 class="card-title"><b>Transferencia</b></h5>
                            <p class="card-text">Puedes realizar tu depósito o transferencia a la cuenta del Banco XXXX<br>
                                    <strong>Colones:</strong> 001-01-023-456789-0<br>
                                        <strong>IBAN:</strong> CR01020304050607080910</p>   
                        </div>
                </div>
                
                <div class="text-center mt-5, card col-md6, p-5 " style="width: 20rem; background-color: #e0f3f9; justify-content: center; align-items: center">
                    <img src="https://firebasestorage.googleapis.com/v0/b/wch-constructora.appspot.com/o/Imágenes%2Fdinero.png?alt=media&token=b8cd1838-45c4-4ca3-a080-a40092e78eb0" 
                         class="card-img-top" alt="Efectivo" style="width: 6rem; align-items: center">
                        <div class="card-body">
                            <h5 class="card-title"><b>Efectivo</b></h5>
                            <p class="card-text">Pago en efectivo directamente al momento de realizar la reunion con nuestro equipo de trabajo</p>   
                        </div>
                </div>
                
                <div class="text-center mt-5, card col-md6 , p-5" style="width: 20rem; background-color: #e0f3f9;  justify-content: center; align-items: center">
                    <img src="https://firebasestorage.googleapis.com/v0/b/wch-constructora.appspot.com/o/Imágenes%2Ftarjeta-bancaria.png?alt=media&token=809764cf-5c71-4a4a-afc6-b333f0d13a8c" 
                         class="card-img-top" alt="Credito" style="width: 6rem; align-items: center">
                        <div class="card-body">
                            <h5 class="card-title"><b>Credito</b></h5>
                            <p class="card-text">Pagos a créditos muy flexibles, por medio de Tasa Cero o tarjetas del Bac Credomatic</p>   
                        </div>
                </div>
                </div>
        </section>
    </body>

</html>