<!DOCTYPE html>
<!--Esta es la primera pagina html-->
<!-- Son etiquetas extendias -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Constructora WCH</title>
        <meta charset="UTF-8"/> 
    </head>
    <body>


    <header th:replace="~{layout/plantilla :: header}"/>  

    <section th:replace="~{usuario/fragmentos :: botonesAgregar}"></section>
    <section th:replace="~{usuario/fragmentos :: agregarUsuario}"></section>
    <section th:replace="~{usuario/fragmentos :: listadoUsuarios}"></section>

    <footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>