<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"
        <title>Practica01</title>
        <meta charset="UTF-8"/> 
      
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <h4>Tu hogar, nuestra prioridad</h4>
        <h4>Construyendo mas que casas, construyendo hogares</h4>
        <footer th:replace="~{layout/plantilla :: footer}"/> 
       
    </body>
</html>